body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}



.forms{
    max-width: 800px; 
    margin: 50px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #242424;
    
}



.forms h1 {
    text-align: center; 
    color: white; 
     font-size: 23px;
     margin-top: 13px;
}


.forms form {
    margin-top: 20px;
}





.forms label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.forms select,
.forms input[type="text"],
.forms input[type="date"],
.forms input[type="number"] {
    width: calc(100% - 22px); 
    padding: 8px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label[for="mailCount"] {
    margin-bottom: 10px; 
}

#mailCount {
    margin-bottom: 5px; 
}






.forms button[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.forms button[type="submit"]:hover {
    background-color: #0056b3;
}

#lastnameField,
#emailField {
    margin-bottom: 10px; 
}

#lastnameField,
#emailField label {
    display: block;
    margin-bottom: 5px;
}

#lastnameField input,
#emailField input {
    width: calc(100% - 22px); 
    padding: 5px;
}




h1 {
    text-align: center;
    color: white;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px; 
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}


h1.home-title{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px; 
    border: 2px solid white; 
    padding: 10px; 
    background-color: black; 
}





.form-list {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.form-item {
    margin-bottom: 20px;
    background-color: #f1f3f5;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.form-link {
    display: block;
    padding: 20px;
    color: #212529;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.form-link:hover {
    background-color: #dee2e6;
}

.form-link h2 {
    margin: 0;
    font-size: 20px;
}

.form-link p {
    margin: 10px 0;
    font-size: 16px;
    color: #6c757d;
}

.git {
    text-align: center;
    margin-top: 50px;
    color: #6c757d;
}

.git a {
    color: #fff;
    text-decoration: none;
}

.git a:hover {
    text-decoration: underline;
}



.result-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f1f3f5;
    font-family: 'Roboto', sans-serif;
}

.result-item h2,
.result-item p {
    margin-top: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.result-item h3{
    color: black;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

.result-item ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.result-item ul li {
    margin-bottom: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.result-item ul li:first-child {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.top-left-buttons {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999; 
}

.back-home-button,
.back-previous-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px; 
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.back-home-button:hover,
.back-previous-button:hover {
    background-color: #0056b3; 
}
.not-bold {
    font-weight: normal; 
}


.result-item2 {
    display: flex; 
    justify-content: space-between; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f1f3f5;
    font-family: 'Roboto', sans-serif;
}

.employee-info {
    flex: 1;
}

.employee-info h3,
.employee-info p {
    margin-top: 0;
    color: black;
}

.results {
    margin-top: 20px;
    padding: 20px;
    color:black;
    background-color: white;
    border-radius: 10px;
    max-width: 800px; 
    margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: auto; 
}

.results table {
    width: 100%;
    border-collapse: collapse;
}

.results th,
.results td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: black; 
}

.results th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.small-image {
    max-width: 1500px; 
    max-height: 1500px;
    width: auto;
    height: auto;
}



.left-aligned-image {
    position: absolute;
    left: 170px;
    top: 350px; 
}

graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}


