<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recherche d'Employés</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="forms">
        <h1>Recherche d'Employés</h1>
        <form method="post" id="Form2">
            {% csrf_token %}
            
            <label for="mailType">Employé éyant </label>
            <select id="mailType" name="mailType">
                <option value="sent">Envoyé</option>
                <option value="received">Reçu</option>
                <option value="both">Envoyé ou Reçu</option>
            </select>

            <select id="mailCountComparison" name="mailCountComparison">
                <option value="more">Plus de</option>
                <option value="less">Moins de</option>
            </select>
            
            <input type="number" id="mailCount" name="mailCount" placeholder="Nombre de Mails">
            <label for="mailCount">Mails</label>
            
            <label for="startDate">Entre le</label>
            <input type="date" id="startDate" name="startDate">

            <label for="endDate">Et le </label>
            <input type="date" id="endDate" name="endDate">

            <label for="exchangeType">Type d'échanges :</label>
            <select id="exchangeType" name="exchangeType">
                <option value="internal">Internes</option>
                <option value="internal_external">Internes et Externes</option>
            </select>
            
            <button type="submit">Valider</button>
            
        </form>
    </div>

    <div class="git">
        <p><a href="https://github.com/Amugith/Projet_BDD_M1" target="_blank">GitHub du projet</a></p> 
    </div>
    <div class="top-left-buttons">
        <a class="back-previous-button" href="javascript:history.go(-1)">Retour</a>
        <a class="back-home-button" href="{% url 'home' %}">Accueil</a>
    </div>
</body>
</html>
